@using Prism.Events
@using WPFBlazorChat.Events
@using WPFBlazorChat.Models
@using WPFBlazorChat.Services
@inject IUserService UserService
@inject IEventAggregator EventAggregator

<MApp>
    <MCard
        Class="mx-auto">
        <MToolbar Color="cyan"
                  Dark>
            <MAppBarNavIcon></MAppBarNavIcon>

            <MToolbarTitle>关键字搜索</MToolbarTitle>

            <MSpacer></MSpacer>

            <MButton Icon>
                <MIcon>mdi-magnify</MIcon>
            </MButton>
        </MToolbar>

        <MList ThreeLine>
            @if (_users is {Count:>0})
            {
                @foreach (var user in _users)
                {
                    @if (user.Header != null)
                    {
                        <MSubheader>@user.Header</MSubheader>
                    }
                    else if (user.Divider)
                    {
                        <MDivider Inset="user.Inset"></MDivider>
                    }
                    else
                    {
                        <MListItem OnClick="() => ShowUser(user)">
                            <MListItemAvatar>
                                <MImage Src="@user.Avatar"></MImage>
                            </MListItemAvatar>

                            <MListItemContent>
                                <MListItemTitle>@((MarkupString)user.UserName)</MListItemTitle>
                                <MListItemSubtitle>@((MarkupString)user.Memo)</MListItemSubtitle>
                            </MListItemContent>
                        </MListItem>
                    }
                }
            }
        </MList>
    </MCard>


    <div class="text-center">
        <MDialog @bind-Value="dialog"
                 Width="500">

            <ChildContent>
                <MCard>
                    <MCardTitle Class="text-h5 grey lighten-2">
                        打开与 @checkedUser.UserName 的对话
                    </MCardTitle>

                    <MCardText>
                        <MListItemTitle>@checkedUser.UserName</MListItemTitle>
                        <MListItemSubtitle>@checkedUser.Memo</MListItemSubtitle>
                    </MCardText>

                    <MDivider></MDivider>

                    <MCardActions>
                        <MSpacer></MSpacer>
                        <MButton Color="primary"
                                 Text
                                 OnClick="() => dialog = false">
                            开始吧
                        </MButton>
                    </MCardActions>
                </MCard>
            </ChildContent>
        </MDialog>
    </div>
</MApp>

@code
{
    List<ChatUserItem>? _users = null;
    ChatUserItem? checkedUser;
    bool dialog;

    protected override Task OnInitializedAsync()
    {
        _users = UserService.GetUsers();
        return base.OnInitializedAsync();
    }

    void ShowUser(ChatUserItem user)
    {
        checkedUser = user;
        dialog = true;
        EventAggregator.GetEvent<OpenUserDialogEvent>().Publish(user);
    }
}