@using WPFBlazorChat.Services
@inject IWindowService WindowService
@inject IUserService UserService

<MApp Dark>
    
    <!--标题栏开始-->
    <MAppBar Color="deep-purple accent-4" Style="cursor: default" App Dense @onmouseup="WindowService.StopMove" @onmousedown="WindowService.StartMove">
        <MAvatar Size="35" Class="ml-0 mr-5">
            <MImage Src="https://dotnet9.com/images/logo.png">
            </MImage>
        </MAvatar>
        <MToolbarTitle>点击人物打开微信(假的)</MToolbarTitle>
        <MSpacer></MSpacer>
        <MButton icon>
            <MIcon>mdi-magnify</MIcon>
        </MButton>

        <MMenu Left
               Bottom>
            <ActivatorContent>
                <MButton Icon @attributes="@context.Attrs">
                    <MIcon>mdi-dots-vertical</MIcon>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <MList>
                    <MListItem @key="1" Href="https://dotnet9.com">
                        <MListItemTitle>网站 Dotnet9.com</MListItemTitle>
                    </MListItem>
                    <MListItem @key="2" Href="https://img1.dotnet9.com/site/wechatpublic.jpg">
                        <MListItemTitle>公众号 Dotnet9</MListItemTitle>
                    </MListItem>
                </MList>
            </ChildContent>
        </MMenu>
        <MButton Icon OnClick="WindowService.Close">
            <MIcon>mdi-close</MIcon>
        </MButton>
    </MAppBar>
    <!--标题栏结束-->
    
    <!--人物列表开始-->
    <MCard Class="mx-auto rounded-lg">
        <MList ThreeLine Class="rounded-lg">

            <MSubheader>人物列表</MSubheader>
            @if (_users is {Count:>0})
            {
                @foreach (var user in _users)
                {
                    <MListItem OnClick="() => SelectUser(user)">
                        <MListItemAvatar>
                            <MImage Src="@user.Avatar"></MImage>
                        </MListItemAvatar>

                        <MListItemContent>
                            <MListItemTitle>@((MarkupString)user.UserName)</MListItemTitle>
                            <MListItemSubtitle>@((MarkupString)user.Memo)</MListItemSubtitle>
                        </MListItemContent>
                    </MListItem>
                    <MDivider Inset="true"></MDivider>
                }
            }
        </MList>
    </MCard>
    <!--人物列表结束-->
    
    <!--状态栏开始-->
    <MBottomNavigation @bind-Value="_toolBarButtonIndex" BackgroundColor="@StatusBarButtonColors" Dark Shift>
        <MButton>
            <span>视频</span>
            <MIcon>mdi-television-play</MIcon>
        </MButton>

        <MButton>
            <span>音乐</span>
            <MIcon>mdi-music-note</MIcon>
        </MButton>

        <MButton>
            <span>书籍</span>
            <MIcon>mdi-book</MIcon>
        </MButton>

        <MButton>
            <span>图片</span>
            <MIcon>mdi-image</MIcon>
        </MButton>
    </MBottomNavigation>
    <!--状态栏结束-->

    <!--底部工作表开始-->
    <div class="text-center">
        <MBottomSheet
            @bind-Value="_isOpenSheet"
            Persistent>
            <ChildContent>
                <MSheet
                    Class="text-center"
                    Height="200">
                    <MCol>
                        <MButton
                            Class="mt-6"
                            Text
                            Color="success"
                                 OnClick="()=>CloseSheet(true)">
                            和 @_selectedUser.UserName 切磋
                        </MButton>
                        <MButton Class="mt-6"
                                 Text
                                 Color="error"
                                 OnClick="()=>CloseSheet(false)">
                            算了，我怕了
                        </MButton>
                    </MCol>
                    <div class="py-3">
                        @_selectedUser.Memo
                    </div>
                </MSheet>
            </ChildContent>
        </MBottomSheet>
    </div>
    
    <!--底部工作表结束-->
</MApp>